@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Imprima&display=swap');

:root {
    --c-bkg: #212121;
    --c-button: #45EAF5;
    --c-pink: #F55DB9;
    --c-dpink: #A82774;
    --c-grey: #B3B3B3;
    --c-dkgrey: #666;

    --fc-main: #ffffff;

    --ff-imprima: 'Imprima', sans-serif;
    --ff-hind: 'Hind Guntur', sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--c-bkg);
    background-image: url('/project4_apiAI/img/topo_topLeft.png');
    background-size: 80%;
    background-repeat: no-repeat;
    font-family: var(--ff-hind);
    color: var(--fc-main);
}
.container {
    display: flex;
    flex-direction: column;
}
.top{
    margin: 16% auto auto auto;
}
.searchInputs {
    display: flex;
    
}
form {
    padding-left: 1%;
}
.range_andGo {
    display:inline-flex;
}

#rangeSelect, #startCitySelect, #endCitySelect {
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    z-index: 10;
    font-size: 1em;
}
.searchInputs {
    padding-top: 5%;
}

#searchButton {
    background-color: var(--c-button);
    border: none;
    color: var(--c-bkg);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #00ffff;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 5px #666;
    transition-duration: 300ms;
    
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/********************** Flip ******************************/
.resultTile{
    display: flex;
    justify-content: center;
    perspective: 1000px;
}

/* flip the pane when hovered */
.resultTile:hover .flip, .resultTile.hover .flip {
    transform: rotateY(180deg);
}

.resultTile, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flip {
    background-color: var(--c-grey);
    border-radius: 10px;
    margin-top: 50px;

    height: 385px;
    width: 450px;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.front-top {
    padding-left: 10px;
    padding-right: 10px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    
}
.back-center, .front-center {
    padding: 5%;
}


#map, #destinationMap { 
    height: 250px; 
    border-radius: 10px;
    position: relative;
    
}

#searchButton:hover {
    background-color: var(--c-pink);
    color: var(--fc-main);
    border: 2px solid #F55DB9;
}

#searchButton:active {
    background-color: var(--c-pink);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}


#charging-stations {
    margin: auto;
}

.front-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75%; 
}

.front-center > img {
    height: 250px;
}

.bottom {
    
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
    margin: auto;
}

#bottom-tiles {
    padding-top: 5%;
}

.sample-tiles {
    background-color: var(--c-grey);
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    height: 350px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sample-tiles > img {
    height: 200px;
    width: 260px;
    flex-shrink: 0;
    border-radius: 10px;
    margin: auto;

}
.sample-tiles > h3 {
    margin: 0;
    padding: 5%;
}
footer {
    margin: auto;
}
/************* Scrollbar *******************/
html::-webkit-scrollbar {
    width: 15px; 
 }

html::-webkit-scrollbar-track {
  background-color: black;
}

html::-webkit-scrollbar-thumb {
  background: var(--c-dkgrey);
  border-radius: 25px;
}



@media screen and (min-width: 680px) {
    .bottom {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
  }
  
  @media screen and (min-width: 980px) {
    .bottom {
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
  }
  
  
  
  
  
  
  