@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Imprima&display=swap');

:root {
    --c-bkg: #212121;
    --c-button: #45EAF5;
    --c-pink: #F55DB9;
    --c-dpink: #A82774;
    --c-grey: #B3B3B3;

    --fc-main: #ffffff;

    --ff-imprima: 'Imprima', sans-serif;
    --ff-hind: 'Hind Guntur', sans-serif;
}
body {
    background-color: var(--c-bkg);
    background-image: url('/img/topo_topLeft.png');
    background-size: 75%;
    background-repeat: no-repeat;
    font-family: var(--ff-hind);
    color: var(--fc-main);
}
.container {
    display: grid;
    place-items: center;
}
.top{
    margin: 20% auto 5% auto;
}
.dropdowns {
    display: inline-flex;
    
}
form {
    padding-left: 1%;
}



#query {
    width: 400px;
    height: 33px;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 10px;
}

#searchButton {
    background-color: var(--c-button);
    border: none;
    color: var(--c-bkg);
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #00ffff;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 5px #666;
    transition-duration: 300ms;
    
}
#submitButton:hover {
    background-color: var(--c-pink);
    color: var(--fc-main);
    border: 2px solid #F55DB9;
}

#submitButton:active {
    background-color: var(--c-pink);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}








#bottom-tiles {
    display: flex;
}

.sample-tiles {
    background-color: var(--c-grey);
    border-radius: 10px;
    margin: 1%;
    padding: 2%;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sample-tiles > img {
    height: 200px;
    width: 250px;
    flex-shrink: 0;

}
.sample-tiles > h3 {
    margin: 0;
    flex-shrink: 0;
}